{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<h1>CONTACT</h1>
<hr><br>
<section id="contact" class="self-align-center">
   <table class="table table-bordered">
       <thead>
           <tr class='table-primary'>
               <th>Email</th>
               <th>oskar.alexander.nilsson@gmail.com</th>
               <th>(alt.) onilsson@college.harvard.edu</th>
           </tr>
       </thead>
       <tbody>
           <tr class='table-success'>
               <td>Phone</td>
               <td>U.S +1(857)-757-8493</td>
               <td>Swe. +46 733 18 77 30</td>
           </tr>
       </tbody>
   </table>
   <h2>Addresses</h2>
   <table class="table table-bordered">
       <thead>
           <tr class='table-danger'>
               <th>U.S.</th>
               <th>291 Kirkland Mail CTR • 95 Dunster St. • Cambridge, MA 02138 </th>
           </tr>
       </thead>
       <tbody>
           <tr class='table-warning'>
               <td>Sweden</td>
               <td>Kvarnvägen 5, 75655, Uppsala, Sweden</td>
           </tr>
       </tbody>
   </table>
</section>
{% endblock %}