{% extends "layout.html" %}

{% block title %}
    Resume – Oskar Nilsson
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid resume">
            <h2>Oskar Nilsson</h2>

            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#athletics">Athletic Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#additional">Additional</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Info Section -->
    <section id='info' style='text-align:center'>
        <p>291 Kirkland Mail CTR • 95 Dunster St. • Cambridge, MA 02138 • onilsson@college.harvard.edu • (857) 757-8493</p>
    </section>

    <!-- Education -->
    <section id='education'>
        <h2 class='resume-head'>Education</h2>
        <div>
            <h5><b>Harvard University</b></h5>
            <span><h6 style="float:right;">Cambridge, MA</h6></span>
        </div>
        <div>
            <h6><i>Bachelor of Science, Mechanical Engineering, GPA: 3.86</i></h6>
            <span style='float:right;'>Class of 2023</span>
        </div>
        <ul>
            <li>Multivariable Calculus</li>
            <li>Linear Algebra</li>
            <li>Computer Aided Machine Design</li>
            <li>Computing for Science and Engineering (Python)</li>
            <li>Mechanical and Statistical Physics</li>
            <li>Electromagnetism and Quantum Physics</li>
            <li>Introduction to Computer Science</li>
            <ul>
                <li>Python</li>
                <li>C</li>
                <li>JavaScript</li>
                <li>SQL</li>
            </ul>
            <li>Materials Selection and Design</li>
            <li>Seminar – Technology vs. Nature</li>
            <li>The Climate-Energy Challenge</li>
            <li>Expository writing – Humans, Nature, and the Environment</li>
        </ul>
        <br>

        <div>
            <h5><b>Celsiusskolan Uppsala</b></h5>
            <span style='float:right;'><h6>Uppsala, Sweden</h6></span>
        </div>
        <div>
            <h6><i>Scientific Program & Nationally approved Athletic Education, GPA: 4.0</i></h6>
            <span style='float:right;'>June 2018</span>
        </div>
        <ul>
            <li>Academic award in Math received at graduation</li>
            <li>Thesis: “Water’s rate of cooling while stirring”</li>
        </ul>
    </section>
    <hr>

    <!--Work Experience-->
    <section id='work'>
        <h2 class='resume-head'>Work Experience</h2>
        <div>
            <h5><b>Mark Labs</b></h5>
            <span style='float:right;'><h6>Washington, DC (Remote)</h6></span>
        </div>
        <div>
            <p style='margin-bottom:0'><i>Fin. Tech startup focusing on sustainable investing</i></p>
            <span style='float:right;'>May 2020 – August 2020</span>
        </div>
        <h6>Product- and Business Development Intern</h6>
        <br>
        <ul>
            <li>Performed Life-Cycle Assessment on large composite decking company</li>
            <li>Created and designed Low Carbon Economy (LCE) pitch decks, LCE white papers, and external hire instructions</li>
            <li>Developed a word-frequency-count software for scanning documents for topics</li>
        </ul>
        <br>
        <hr class='resume-break'>

        <div>
            <h5><b>Robot Design Project</b></h5>
            <span style='float:right;'><h6>Harvard College</h6></span>
        </div>
        <div>
            <p style='margin-bottom:0'><i>Part of Computer Aided Machine Design curriculum </i></p>
            <span style='float:right;'>January 2020 – May 2020</span>
        </div>
        <h6>Team member</h6>
        <br>
        <ul>
            <li>Winner of the annual robot design competition</li>
        </ul>
        <br>
        <hr class='resume-break'>

        <div>
            <h5><b>Value Call AB</b></h5>
            <span style='float:right;'><h6>Uppsala, Sweden</h6></span>
        </div>
        <div>
            <p style='margin-bottom:0'><i>Telemarketing company focusing on real estate</i></p>
            <span style='float:right;'>March 2019 – August 2019</span>
        </div>
        <h6>Salesman – Acquired new customers for multiple real estate agencies</h6>
        <br>
        <ul>
            <li>Consistently exceeded sales quota of 0.5 sales/hour</li>
            <li>Recognized for best sale of the month in March 2019</li>
        </ul>
        <br>
        <hr class='resume-break'>

        <div>
            <h5><b>Sector Alarm Sverige</b></h5>
            <span style='float:right;'><h6>Uppsala, Sweden</h6></span>
        </div>
        <div>
            <p style='margin-bottom:0'><i>Company focusing on Home Alarm Systems</i></p>
            <span style='float:right;'>August 2018 – November 2018</span>
        </div>
        <h6>Security consultant / Door-to-door Salesman</h6>
        <br>
        <ul>
            <li>Developed persistence, approachability, and in person sales skills</li>
            <li>Accomplished company milestone of 1 sale per day in October 2018</li>
        </ul>
        <hr>
    </section>

    <!--Athletic Experience-->
    <section id='athletics'>
        <h2 class='resume-head'>Athletic Experience</h2>
         <div>
            <h5><b>Harvard University</b></h5>
            <span><h6 style="float:right;">Cambridge, MA</h6></span>
        </div>
        <div>
            <h6><i>Starting Goalkeeper</i></h6>
            <span style='float:right;'>Class of 2023</span>
        </div>
        <ul>
            <li>Ranked 6th in saves per game among goalkeepers in NCAA D1, 1st in The Ivy Leagues</li>
        </ul>
        <br>
        <hr class='resume-break'>

        <div>
            <span><h6 style="float:right;">Stockholm, Sweden</h6></span>
            <h5><b>National Team Camps P-16 & P-17</b></h5>
        </div>
        <ul>
            <li>Participated in 2 youth camps for Sweden’s “Future team” in soccer <span style='float:right;'>October 2015 & April 2016</span></li>
        </ul>
        <br>
        <hr class='resume-break'>

        <div>
            <span><h6 style="float:right;">Uppsala, Sweden</h6></span>
            <h5><b>IK Sirius FK</b></h5>
        </div>
        <ul>
            <li>Awarded with academy player of the year 2017 <span style='float:right;'>January 2018</span></li>
        </ul>
        <br>
        <hr>
    </section>

    <!--<section id='additional'>-->
    <!--    <h2 class='resume-head'>Additional</h2>-->
    <!--    <h6>Awards:</h6>-->
    <!--    <p>Received an award for leadership upon graduation from Gottsundaskolan in 2015 </p>-->
    <!--    <br>-->
    <!--    <h6>Other Interests:</h6>-->
    <!--    <ul>-->
    <!--        <li>Travelling</li>-->
    <!--        <li>New member of Harvard Engineers Without Borders</li>-->
    <!--        <li>Engineering in developing communities</li>-->
    <!--        <li>East African wildlife</li>-->
    <!--        <li>Scuba diving</li>-->
    <!--        <li>Italian cuisine</li>-->
    <!--        <li>Skiing</li>-->
    <!--    </ul>-->
    <!--</section>-->

    <section id='additional'>
        <h2 class='resume-head'>Additional</h2>
        <h6>Awards:</h6>
        <p>Received an award for leadership upon graduation from Gottsundaskolan in 2015 </p>
        <br>
        <h6>Other Interests:</h6>
        <br>
        <div class='container'>
            <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="col-md-4">
                        <img class='resume-img' id="service1" src="static/plane.png" alt="travelling">
                        <h5>Travelling</h5>
                </div>
                <div class="col-md-4">
                    <img class='resume-img' id="service1" src="static/HEWB.png" alt="HEWB">
                    <br>
                    <h5>Harvard Engineers Without Borders</h5>
                </div>
                <div class="col-md-4">
                    <img class='resume-img' id="service1" src="static/lion.png" alt="Wildlife">
                    <h5>East African Wildlife</h5>
                </div>
            </div>
        </div>
        <br>
        <div class='container'>
            <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="col-md-4">
                        <img class='resume-img' id="service1" src="static/dive.png" alt="Scuba Diving">
                        <h5>Scuba Diving</h5>
                </div>
                <div class="col-md-4">
                    <img class='resume-img' id="service1" src="static/pasta.png" alt="Italian cuisine">
                    <h5>Italian Cuisine</h5>
                </div>
                <div class="col-md-4">
                    <img class='resume-img' id="service1" src="static/skii.png" alt="Skiing">
                    <h5>Skiing</h5>
                </div>
            </div>
        </div>
    </section>
{% endblock %}