{% extends "layout.html" %}

{% block title %}
    Oskar – Happy Track
{% endblock %}

{% block main %}
<h2>Happy Track</h2>
<div class="col-md-10">
    <p>
        Python and SQL based web- app that lets users keep track of their happiness, sleep, and most frequently performed activities.
        Also allows for monitored habit building, includes tips and tricks for how to improve one's well-being, and a history table.
        The statistics are displayed in graphs that track happiness and sleep over three different timescales, as well as the user's and everyone else's
        most frequently performed activities and which activities that are associated with the highest happiness.
        All to inspire the user to live a happier life, especially during COVID.
        Accounts are protected by preventing SQL injection and only storing cashed passwords.
    </p>
</div>
<br>
<div class='container'>
    <div class="col-md-8 text-center">
        <h5>Login Page</h5>
        <img class='example' id="service1" src="static/HT.png" alt="chart">
    </div>
</div>
<hr><br>
<div class='container'>
    <div class="col-md-8 text-center">
        <h5>Homepage</h5>
        <img class='example' id="service1" src="static/tips.png" alt="chart">
    </div>
</div>
<hr><br>
<div class='container'>
    <div class="col-md-8 text-center">
        <h5>New Entry</h5>
        <img class='example' id="service1" src="static/entry.png" alt="chart">
    </div>
</div>
<hr><br>
<div class='container'>
    <div class="col-md-8 text-center">
        <h5>Sleep entry</h5>
        <img class='example' id="service1" src="static/sleep.png" alt="chart">
    </div>
</div>
<hr><br>
<div class='container'>
    <div class="col-md-8 text-center">
        <h5>Happiness Tracker</h5>
        <img class='example' id="service1" src="static/stat.png" alt="chart">
    </div>
</div>
<hr><br>
<div class='container'>
    <div class="col-md-8 text-center">
        <h5>Activities Tracker</h5>
        <img class='example' id="service1" src="static/act.png" alt="chart">
    </div>
</div>
<hr><br>
<div class='container'>
    <div class="col-md-8 text-center">
        <h5>Habbit Tracker</h5>
        <img class='example' id="service1" src="static/habit.png" alt="chart">
    </div>
</div>
<hr><br>
{% endblock %}