{% extends "layout.html" %}

{% block title %}
    About – Oskar
{% endblock %}

{% block main %}
    <div>
        <h1 class='display-4 text-center'>Hi, my name is Oskar</h1>
    </div>
    <br>
    <img class='center profile' src='static/Oskar.jpg'>
    <br>


    <section class='page-section text-white mb-0 text-center'>
        <div class='row'>
            <div class="col-lg-4 ml-auto">
                <p class='lead'>
                    I'm a sophomore at Harvard University pursuing a BS degree in Mechanial Engineering and I'm also interested in
                    Physics, Computer Science, and Environmental Engineering.
                    I'm originally from Uppsala, Sweden, where I've lived my whole life until moving to the US for college.
                    One of my favorite extracurricular activities is playing Soccer. I play as a goalkeeper and am a member of Harvard Men's Soccer Varsity team.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class='lead'>
                    I'm really excited you're looking at my online portfolio!
                    To see some examples of content I have produced, please see "Examples" in the side menu.
                    To see some of the projects I've worked on, please see "Experience/Projects".
                    For further information about previous work experience, the sidemenu also contains a link to my
                    <a href="https://www.linkedin.com/in/nilsson-oskar/" style='color: #007BFF'>LinkedIn</a> page,
                    my <a href="/templates/resume.html" style='color: #007BFF'>Resume</a>, and a link to my
                    <a href="https://github.com/ognilsson/ognilsson.github.io" style='color: #007BFF'>GitHub repository</a>
                    with source code. Please do not hesitate to reach out with any questions!
                </p>
            </div>
        </div>
    </section>
{% endblock %}