{% extends "layout.html" %}

{% block title %}
    Web- apps examples
{% endblock %}

{% block main %}
    <!--CS50 finance-->
    <h2>CS50 – Finance</h2>
    <div class='container'>
        <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
            <div class="col-md-8">
                <h5>Homepage</h5>
                <img class='example' id="service1" src="static/fin.png" alt="chart">
            </div>
            <div class="col-md-3 vertical-center">
                <p>
                    Web- app that simulates querying real stock prices as well as allowing registered users to buy and sell stocks.
                </p>
            </div>
        </div>
    </div>
    <hr><br>

    <!--Happy Track-->
    <h2>Happy Track</h2>
    <div class='container'>
        <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
            <div class="col-md-8">
                <h5>Homepage</h5>
                <img class='example' id="service1" src="static/HT.png" alt="chart">
            </div>
            <div class="col-md-3 vertical-center">
                <p>
                    Web- app that lets users keep track of their happiness, sleep, and most frequently performed activities.
                    Also allows for habit building.
                </p>
            </div>
        </div>
    </div>
{% endblock %}